.nav{
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: left;
  font-weight: 500;
  font-size: 30px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
}
span{
  margin-left: 20px;
}